<footer class="footer">
  <ul class="footer-links">
    <li class="attribution-text">
      <a href="https://github.com/mobybit/hugo-natrium-theme"><i class="fa fa-github"></i> Theme</a>
    </li>
  </ul>
  <ul class="footer-links">
      <li class="attribution-text">
          <span>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
            href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
          </span>
      </li>
    </ul>
</footer>

</div>

</body>

</html>