
{{ partial "header.html" . }}

<main class="content">

  <div class="list">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}    
    {{ range $paginator.Pages }}
    {{ partial "list-item.html" . }}
    {{ end }}
  </div>  
  {{ partial "pagination.html" . }}
</main>
{{ partial "footer.html" . }}
